/**
* Web Demo by Philip Newborough
* More info: https://philipnewborough.co.uk/demos/emoji-slot-machine/
*/
body {
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #282a36;
    width: 100%;
    height: 100vh;
    /* Center everything */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 98%;
    max-width: 500px;
    text-align: left;
    color: #f1fa8c;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
    align-items: center;
}

.score span {
    display: inline-block;
}

.score span.coins {
    padding-top: 10px;
}

.wheels {
    background: #282a36;
    border-radius: 8px;
    width: 96%;
    max-width: 500px;
    height: 280px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-content: center;
    overflow: hidden;
}

.wheel {
    background: #ffffff;
    height: 400px;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    transform: translate(0, -115px);
    box-shadow: 0px 65px 30px 5px rgba(40, 42, 54, 0.2) inset;
}

.wheel span {
    display: block;
    width: 100%;
    min-height: 70px;
    text-align: center;
    font-size: 50px;
}

.wheel span.spinning {
    filter: drop-shadow(0px -6px 2px rgba(0, 0, 0, 0.2)) blur(0.04rem);
}

.btn {
    font-family: inherit;
    width: 98%;
    max-width: 500px;
    margin: 10px auto;
    padding: 40px 0px;
    border-radius: 6px;
    color: #282a36;
    background-color: #50fa7b;
    border: 0;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 1px;
}

.btn.ready {
    animation: btn-flash 1s ease-in-out infinite;
    cursor: pointer;
}

.btn.ready:active {
    transform: scale(0.9);
}

.btn.gameover {
    background-color: rgba(29, 110, 49, 0.81);
}

@keyframes btn-flash {
    0% {
        background-color: #50fa7b;
    }

    50% {
        background-color: rgba(29, 110, 49, 1);
    }

    100% {
        background-color: #50fa7b;
    }
}

.info {
    background: rgba(0, 0, 0, 0.2);
    width: 98%;
    max-width: 500px;
    color: #f1fa8c;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    ;
}

.info span.marquee {
    display: inline-block;
    animation: marquee 5s linear;
    animation-iteration-count: 1;
    font-size: 38px;
}

@keyframes marquee {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100vw);
    }
}

.info span.flash {
    display: inline-block;
    animation: flash 1s linear infinite;
}

.info span.flash-fast {
    font-size: 40px;
    display: inline-block;
}

.info span.gameover {
    font-size: 36px;
    display: inline-block;
    animation: flash 4s linear infinite;
}

.flash-fast {
    animation: flash 0.5s linear infinite;
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}